*/out_slurm/
*.out
*/*_count/
*/*_mkfastq/
*/*_mkfastq.mro
*/*_raw_data/
*/.snakemake
*/analysis_outs/
figure_output_old/
*/core*
*.pdf
*.DS_Store
*/cache/
._Snakefile
.snakemake/
._*
*.svg
not_yet_included/seurat_info.csv
scripts/not_yet_included/cache/
*.html
